// Date:    8/4/13
// Author:  Ray Joseph De Castro
// Company: Advanced Upward Motion

extends layout

block content
  h1= title
  canvas#main-canvas(width=800, height=600)
    span Canvas Not Supported
  script(src='javascripts/pinterest.js')