doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/jasmine-1.3.1/jasmine.css')
  body
    canvas(id='main-canvas', width=320, height=480)

    script(src='javascripts/aum/main.js')
    script(src='javascripts/aum/pinterest.js')

    script(src='javascripts/jasmine-1.3.1/jasmine.js')
    script(src='javascripts/jasmine-1.3.1/jasmine-html.js')

    script(src='javascripts/specs/mainSpec.js')
    script(src='javascripts/specs/pinterestSpec.js')
    script(src='javascripts/jasmineRunner.js')





